# 01. intro

## 단축키

- command + enter : 지금 셀 실행
- shift + enter: 지금 셀 실행 & 아래로 이동 
- option + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Appple / apple 
2. git add . git add.
3. message / massage

In [9]:
# 주석을 나타냅니다.

# 1. 변수

변수이름 = 값 

- 변수이름은 어떤 이름이든 상관 없음
- 다만 우린 앞으로 영어, 숫자, _ 를 이용하여 선언 
- 키워드 사용불가

In [13]:
a=10

In [15]:
a

10

In [17]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [21]:
a = 10000000

In [23]:
a

10000000

In [24]:
type(a)

int

In [25]:
b=1.1

In [26]:
b

1.1

In [27]:
type(b)

float

In [28]:
c= 1-4j

In [29]:
type(c)

complex

complex : 허수

In [30]:
c.imag

-4.0

In [31]:
c.real

1.0

.어떤 데이터 안에 접근을 할 때 .을 사용

### 1.2 Boolean

True, False로 이루어진 타입

In [3]:
a= True

In [4]:
type(a)

bool

In [5]:
b=False

In [6]:
type(b)

bool

In [7]:
bool(0)

False

In [8]:
bool(1)

True

In [38]:
bool([])

False

In [39]:
bool([2])

True

추후에 다룰 것

### 1.3 None

In [41]:
a=None

In [42]:
type(a)

NoneType

NoneType: 값이 아무것도 들어있지 않습니다.

### 1.4 string

- 문자열은 `'` `"`를 이용하여 표현

In [44]:
a= 'hello'

In [45]:
type(a)

str

In [46]:
b="world"

In [47]:
type(b)

str

- PEP 8 규칙에 의하면 한번 작은 따옴표로 적으면 그걸로만 모든 코드를 통일하기!
(개발자들 사이에서 정해진 규칙)
- style guide 는 회사마다 다름

In [51]:
age = input()
print(age)
print(type(age))

 45

45
<class 'str'>

- 셀 실행 순서 칸에 * : 셀이 실행 중입니다.
- input : 사용자가 어떤 데이터를 입력할 수 있는 기능을 함.
- input 에 어떤 데이터를 넣든 상관없이 string 으로 인식함 (숫자값을 받으려면 형태를 전환해야함)

In [53]:
print('안녕하세요? '오창희' 입니다')

SyntaxError: invalid syntax (3382081217.py, line 1)

저때 안녕하세요? 와 입니다 를 따로 묶어 인식하여 오창희 부분때문에 오류

In [54]:
print("안녕하세요? '오창희' 입니다.")

안녕하세요? '오창희' 입니다.

In [56]:
print('안녕하세요?\'오창희\'입니다.') #escape 문자열 : 홑따옴표의 기능을 상실시킴, 파이썬에서 문자열을 사용하기 위한 따옴표가 아니니깐

안녕하세요?'오창희'입니다.

In [57]:
a = '''
여기는 문자열 입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [58]:
print(a)

여기는 문자열 입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [61]:
print('엔터를 입력해봐요 \n다음줄입니다. \t 들여쓰기도 가능합니다') #\n: 뉴라인이 생성, \t: tab 누르는것

엔터를 입력해봐요
다음줄입니다. 	 들여쓰기도 가능합니다

In [63]:
print('하나', '둘', '셋', end='!') #마지막에 느낌표를 붙여주세요

하나 둘 셋!

In [65]:
print('하나', '둘', '셋', sep='!') #sep(separate):중간에 넣는것, defaut:slep=' '

하나!둘!셋

#### string interpolation

1. %-formatting 
2. str.format()
3. f-string
- 사실상 세번째만 쓸 것

In [66]:
age=20

In [68]:
print(age)

20

In [71]:
print('홍길동은 %s 살입니다.' % age)

홍길동은 20 살입니다.

In [72]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 20살입니다.

In [74]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

## 2. 연산자 

### 2.1 연산자

In [78]:
a = 2
b = 3

In [79]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [80]:
print(a // b)  #a를 b로 나눈 몫
print(a % b)   #a를 b로 나눈 나머지 
print(divmod(a,b)) #a를 b로 나눈 몫, 나머지

0
2
(0, 2)

### 2. 2 비교 연산자

In [81]:
a = 5
b = 10

In [83]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

In [85]:
print(a == b)
print(a != b)

False
True

In [86]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [89]:
print(True and True)
print(True and False)
print(False and True)
print(False and True)

True
False
False
False

In [90]:
print(True or True)
print(True or False)
print(False or True)
print(False or True)

True
True
True
True

In [91]:
print(True)
print(not True)

True
False

In [93]:
# 단축평가(앞만 보고 연산) and 0뺸 숫자들은 다 true
print(3 and 5)
print(3 and 0)
print(0 and 5) #앞이 false니깐 바로 0으로 출력
print(0 and 0)

5
0
0
0

In [95]:
# 단축평가(앞만 보고 연산) or 
print(3 or 5) #앞이 true 니깐 바로 앞의 값 출력
print(3 or 0)
print(0 or 5) #앞이 false니깐 뒤에 것으로 출력
print(0 or 0)

3
3
5
0

### 2.4 복합연산자

In [105]:
a = 1
b = 2

In [106]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [107]:
a += b #a에 1을 더해서 a에 할당 
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

In [100]:
a

3

### 2.5 기타연산자

In [109]:
a = 'hi'
b = 'hello'

In [110]:
#concatenation: 두가지 데이터를 연결
a + b

'hihello'

In [112]:
a = [1, 2, 3]
b = [4, 5, 6]

In [113]:
a+b

[1, 2, 3, 4, 5, 6]

In [115]:
# containment  
print('a' in 'apple')
print('z' in 'apple')
# *한개만 쓰면 그냥 출력이 되지만 여러개일 경우 print를 붙여야 출력됨

True
False

In [117]:
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

True
False

In [121]:
# identity
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

#파이썬은 실행되자마자 1-256와 같은 자주쓰는 숫자들은 준비를 해놓음 그래서 두개의 주소가 같음.
#하지만 밑의 경우 123123 은 값은 같지만 파이썬이 새로 생성해 낸 숫자이기때문에 주소가 다름.

True
140332151007536
140332151007536

In [122]:
# identity 
a = 123123
b = 123123
print(a is b) 
print(id(a))
print(id(b))

# 데이터들을 램에 하나하나씩 저장함 (눈으로 보지 못하지만 주솟값으로 확인 가능)
# 값은 같아도 위치가 다를 수 있음

False
140332180653840
140332180653744

#### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [125]:
print(-3 ** 4) # 3의 4제곱에 -를 붙임 (제곱먼저 계산된 후 -기호가 붙음)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [129]:
a = True
b = False
c = 1

In [132]:
print(a + c) #true를 자동으로 1로 변환해줌
print(b + c)

2
1

In [135]:
int_num = 3 #언더바를 이용하는 것을 추천(연결됐다는 의미 전달)
float_num = 3.3 
complex_num = 1 + 3j

In [136]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

## 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string 으로 변환
- bool() : int, list 등을 boolean 으로 변환

In [137]:
a = 1
b = '번'

In [139]:
print(a + b) # int 와 str 을 연결할 수 없음

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [140]:
print(str(a)+b)

1번

In [142]:
a = '3'

In [143]:
type(int(a))

int

In [144]:
a = '3.3'

In [145]:
type(int(a)) # int: 정수

ValueError: invalid literal for int() with base 10: '3.3'

In [146]:
type(float(a))

float

In [147]:
a = 1
b = 0

In [148]:
bool(a) # 데이터가 뭔가 있으면 대부분 True로 전환

True

In [149]:
bool(b)

False

In [152]:
print(bool([])) #데이터가 비어있으므로 False로 전환
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형 

시퀀스는 데이터의 순서대로 나열된 자료구조.(순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List (배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [154]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [159]:
location = ['서울', '대구', '대전']
print(location)
print(location[0])
location[0] = '부산'
print(location)

['서울', '대구', '대전']
서울
['부산', '대구', '대전']

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [161]:
t = (1, 2, 3) # 소괄호 선언
print(t)
print(type(t))
print(t[1]) # 대괄호로 호출

(1, 2, 3)
<class 'tuple'>
2

In [160]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [163]:
x, y =1, 2 # x, y =(1, 2) 와 같음
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 range

- range(n) : 0 부터 n-1까지 범위
- range(n, m) : n 부터 m-1까지 범위
- range(n, m, s) :n 부터 m-1까지 +s만큼 증가하는 범위

In [166]:
a = range(1)
print(type(a))

<class 'range'>

In [167]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
a = range(5, 15)
print(list(a))
print(a)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
range(5, 15)

In [172]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [173]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String 

기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/ 함수

In [177]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [175]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [176]:
# slicing
print(my_list[1:3]) # 1번째부터 3번째 전까지
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [180]:
# slicing (k 간격으로)
my_range[2:6:2]
list(my_range[2:6:2])

[3, 5]

In [183]:
# in 
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [182]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [184]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [187]:
# *
print([0] * 10)
print([[0] * 10] *10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [188]:
print(len(my_list))

5

In [189]:
print(min(my_list))

1

In [190]:
print(max(my_list))

5

In [192]:

#원하는 숫자가 몇 번 등장하는지

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3...}

In [193]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [197]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b) # 합집합기호 | (파이프)
print(my_set_a & my_set_b) # 교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [200]:
my_list = [1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]
print(list(set(my_list))) #반복되는 값을 없애고 다시 리스트로 만들고 싶을 때, 얘가 제일 많이쓰임) 
print(set(my_list))

[1, 2, 3, 4, 5, 6, 7]
{1, 2, 3, 4, 5, 6, 7}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2,...}
    - #pep 8에 따르면 key와 콜론 붙여쓰고 value전엔 띄어쓰기
- 접근: 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용 가능 (불변값: string, integer, boolean, tuple,...)
- value에는 모든 데이터 가능(list, dictionary도 가능)

In [202]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [203]:
dict_a = {
    'name': 'changhee',
    'location': 'seoul',
    'location': 'seoul2',
}

In [205]:
print(dict_a) #같은 키가 선언돼서 두번째 value로 바뀜

{'name': 'changhee', 'location': 'seoul2'}

In [207]:
dict_a.keys()

dict_keys(['name', 'location'])

In [208]:
dict_a.values()

dict_values(['changhee', 'seoul2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조

- 시퀀스자료형

1. [List] : mutable(수정가능)
2. (tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형

1. {set} : mutable
2. {Dictionary} : mutable