# 제어문

## 조건문 (if문)
1. `if` 문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함꼐 사용한다. ('if<조건식>:')

2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행한다.

2-2. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [3]:
my_string = input()
if my_string == '12/25': 
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [9]:
num = input('숫자를 입력해주세요')
num = int(num)

숫자를 입력해주세요 4

In [10]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별

if int(num) % 2 == 1:
    print('홀수입니다.')
else: 
    print('짝수입니다.')

짝수입니다

In [ ]:
# num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
# if문의 조건식에 0, 1은 자동형변환이 일어나 False, True로 변환된다.
if num % 2: 
    print('홀수입니다.')
else:
    print('짝수입니다.')

### elif 

```
if <조건식>:
    if 조건이 참인경우 실행
elif <조건식>:  
    elif 조건이 참인경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [15]:
score = int(input())

 96

In [16]:
# 90점 이상 A (95점이상 '참잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F

if score >=90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')
elif socre >= 70:
    print('C')
else:
    print('F')

A
참잘했어요

## 조건표현식

true_value if <조건식> else false_value

In [17]:
print('True') if 1>0 else print('False')

True

In [18]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [19]:
num = -5
value = num if num >= 0 else 0
print(value)

0

num = -5

value = <num <if num >= 0> else 0> 
    이렇게 묶어서 생각! 
    
print(value)

In [21]:
num = -5 
if num >= 0:
    value = num
else:
    value = 0
print(value)

0

In [22]:
num = 2
if num % 2 == 1:
    result = '홀수'
else: 
    result = '짝수'
print(result)

짝수

In [24]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

# 반복문

## while 문

```
while <조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a) 
    a += 1  # a = a + 1

0
1
2
3
4

In [12]:
# 사용자가 '안녕' 이라고 할 때까지 게속 입력을 요청받는 코드

a = input()

while a != '안녕':
    a = 0
    a = input()

 ㅎㅇ
 ㅎㅇ
 안뇽
 안녕

In [13]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고해줘 : ')

안녕이라고해줘 :  ㅎㅇ
안녕이라고해줘 :  ㅎㅇㅎㅇ
안녕이라고해줘 :  에이
안녕이라고해줘 :  싫어
안녕이라고해줘 :  오키
안녕이라고해줘 :  ㅎㅇ
안녕이라고해줘 :  그래 안녕
안녕이라고해줘 :  안녕

## for 
정해진 범위 내의 반복 

```
for variable in sequence:
    code
```

In [16]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print (number)

1
2
3
4
5

In [17]:
# for 문을 사용해서 사용자가 입력한 데이터를 한글자씩 출력하는 코드

sentence = list(input())

for letter in sentence:
    print (letter)

 안녕하세요저는강민주입니다.

안
녕
하
세
요
저
는
강
민
주
입
니
다
.

In [19]:
word = input('단어를입력해주세요: ') #스트링자체도 시퀀스 데이터이므로 괜찮음

for char in word:
    print(char)

단어를입력해주세요:  안녕하세요? 저는 강민주 입니다

안
녕
하
세
요
?

저
는

강
민
주

입
니
다

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
for i in (1, 2, 3, 4, 5):
    print (i)

1
2
3
4
5

In [28]:
# 1. 1~30까지 숫자 중에서 홀수만 담긴 리스트를 출력
# 2. 1~30까지 숫자 중에서 홀수들을 모아 리스트로 출력

numbers = range(1,31)

odd_numbers = []

for number in numbers:
    if number % 2 == 1:
        print (number)
        odd_numbers.append(number)

print (odd_numbers)
#선생님 답변이랑 같음

<class 'range'>
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [31]:
menus = ['라면', '김밥', '돈가스']

for menu in enumerate(menus): #여기서는 menu -> (1, 김밥)
    print(menu[0])
    print(menu[1])

0
라면
1
김밥
2
돈가스

In [30]:
enumerate(menus) #얘도 시퀀스 데이터 (0, 라) , (1, 김), (2, 돈) 으로 이루어져 있음

In [1]:
menus = ['라면', '김밥', '돈가스']

for idx, menu in enumerate(menus): #여기서는 1-> idx, 김밥 -> menu
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈가스

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [33]:
info = {
    'name': 'minju',
    'location': 'seoul',
    'phone': '010-1234-7318',
}

In [35]:
for i in info:
    print (i) # -> name, location, phone와 같은 key 만 출력됨
    print(info[i]) # -> minju, seoul, 010 과 같은 key 에 해당하는 value 가 출력됨

name
minju
location
seoul
phone
010-2743-7318

In [36]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [38]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [39]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [43]:
result = 0
for value in blood_type.values():
    print(value)
    result += value
print(f'총 인원은 {result}명입니다.')

5
4
2
3
총 인원은 14명입니다.

In [49]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5형입니다.
B형은 4형입니다.
O형은 2형입니다.
AB형은 3형입니다.

In [46]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

### break
반복문을 종료시키는 키워드

In [58]:
for i in range(100):
    if i > 10 :
        print('10넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10넘었어

In [2]:
rice  = ['보리', '보리', '보리', '쌀', '보리', '보리']
# 보리, 보리, 보리, 쌀, 잡았다! => x

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

보리
보리
보리
쌀
잡았다

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [54]:
for i in range(10):
    if i % 2: #자동 형변환
        continue   # 홀수인 친구들은 continue 이후의 코드를 실행하지 않고 다음 for문으로 강제로 넘어감 
    print(i)

0
2
4
6
8

In [60]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a < 20:
        continue
    print('성인입니다')

성인입니다
성인입니다
성인입니다

### else
else문은 끝까지 반복이 진행된 후 실행됩니다.

In [63]:
for i in range(10):
    if i > 100:
        break 
    print (i)
else:
    print('break 못만남') # 모든 for 문이 다 돌았다면 else 실행

0
1
2
3
4
5
6
7
8
9
break 못만남

In [62]:
for i in range(10):
    if i > 5:
        break 
    print (i)
else:
    print('break 못만남') # 중간에 for 문이 끊겼다면 else 실행 안됨

0
1
2
3
4
5

In [64]:
numbers = [1, 3, 5, 7, 9]
print(3 in numbers)
print(2 in numbers)

True
False

In [69]:
numbers = [1, 3, 5, 7, 9]
target = 5

for number in numbers: #if 문을 통해 내가 원하는 숫자가 있으면 True
    if number == target:
        print('True')
        break
else:
    print('False')

True

### pass

In [70]:
if True: 
    pass #아직 프로그램이 완성되지 않았는데 일단 적어놓을 때 사용

### match

``` match value:
        case 조건(어떤 value):
            code
        case 조건(어떤 value):
            code
        case _:
            code

In [73]:
status = 404

match status: 
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('something is wrong')

Not found