In [1]:
print('hello') # 함수

hello

In [2]:
''.join(['1','2','3']) # 메소드

'123'

In [3]:
dir('hello') # 객체가 어떤 기능을 가지고 있는지

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 1. 문자열 메소드

In [12]:
a = 'hello my name is minju'

In [6]:
a[0]

'h'

In [7]:
a[0] = 'H' # string 은 immutable하기 때문에 불가능함

TypeError: 'str' object does not support item assignment

In [20]:
a = a.capitalize()  # a.capitalize() 자체는 원본을 바꾸지 않음

In [14]:
print(a)

hello my name is minju

In [15]:
a.title() #단어 첫 글자마다 대문자로 바꿔줌

'Hello My Name Is Minju'

In [16]:
a.upper()

'HELLO MY NAME IS MINJU'

In [17]:
a.lower()

'hello my name is minju'

In [21]:
print(a)

Hello my name is minju

In [23]:
# ''.join(iterable)
my_list= ['hi','my', 'name'] # 하나로 합칠 때 
', '.join(my_list)

'hi,my,name'

In [25]:
# .replace(old, new[, count]) [] 안은 기본인자
'wooooooooow'.replace('o', '!', 3) # o를 !로 3개 바꾸겠다.

'w!!!!!!!!!w'

In [170]:
# .strip([chars]) : 스트링의 오른쪽과 왼쪽에서 제거함
my_string = '         hello\n'
print(my_string)
print(my_string.strip()) # 엔터, 스페이스가 다 삭제됨
#이 부분은 데이터 정제를 할 때 사용됨

my_string2='hihihiihihihihihellohihihihi'  
# 메소드 적용 과정: h먼저 찾고 삭제 그다음 i 찾고 삭제 hello의 h 까지는 삭제하지만 뒤에 i 가 없어 삭제 중지 
# 양끝에서 삭제할 때만 용이 
print(my_string2.strip('hi'))
print(my_string2.strip('h'))
print(my_string2.lstrip('hi')) #앞에것만 삭제
print(my_string2.rstrip('hi')) #뒤에것만 삭제

         hello

hello
ello
ihihiihihihihihellohihihihi
ellohihihihi
hihihiihihihihihello

In [32]:
# .find(x)
a = 'apple'
print(a.find('p')) #인덱스 값을 가져와줌 
print(a.find('z')) #없으면 -1 출력
for i in range (len(a)):
    if a[i] == 'p':
        print(i)         #두번째 p출력

1
-1
1
2

In [31]:
# .index(x)
a = 'apple'
print(a.index('p'))
print(a.index('z')) # find 랑 다르게 에러 출력

1

ValueError: substring not found

In [36]:
# .split(x) # 기본적으로 띄어쓰기 기준으로 split, () 어떤 기준으로 split 하고 싶은지 적음
a = 'my name is hong'
a.split('i')

['my name ', 's hong']

In [37]:
# .count(x)
'woooow'.count('o')

4

# 2. 리스트 메소드

In [43]:
numbers = [1, 2, 2, 5, 2, 1, 6, 2, 4, 4]

In [44]:
# .append(x)
numbers.append(10)  #list 는 mutable 하기 때문에 원본 자체를 바꿀 수 있음 
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10]

In [45]:
# extend(iterable) # 요소들이 나뉘어 들어감 리스트 전체로 추가되지 않고
a = [99, 100]
numbers.extend(a)
print(numbers) 
print(numbers + a)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]
[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100, 99, 100]

In [48]:
# insert(idx, x)
numbers.insert(3, 3.5)
print(numbers)

[1, 2, 2, 3.5, 3.5, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]

In [51]:
# .remove(x)
numbers.remove(3.5)
print(numbers)

ValueError: list.remove(x): x not in list

In [56]:
# .pop([idx]) # 그 위치에 있는 값을 삭제
numbers.pop(0)
print(numbers)

[1, 6, 2, 4, 4, 10, 99, 100]

In [57]:
# .sort()
numbers.sort() #기본적으로 오름차순
print(numbers)
numbers.sort(reverse=True) #내림차순
print(numbers)

[1, 2, 4, 4, 6, 10, 99, 100]
[100, 99, 10, 6, 4, 4, 2, 1]

In [60]:
# .reverse() 역순으로 만들 때
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[::-1] 
print(numbers)  # 슬라이싱 [0:-1:-1] 저 0, -1이 생략됐다고 보면 됨 0부터 -1의 위치까지 거꾸로 슬라이싱

[1, 2, 4, 4, 6, 10, 99, 100]
[100, 99, 10, 6, 4, 4, 2, 1]
[1, 2, 4, 4, 6, 10, 99, 100]

# 2.1 list copy

In [61]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [62]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [63]:
copy_list[0] = 100

In [65]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [67]:
# 새로운 list 를 만드는 것 위의 copy 와 다름
a = [1, 2, 3]
# b = a[:]
b = list(a)

b[0] = 100
print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [68]:
a = [1, 2, [3, 4]]
b = a[:]
b[2][0] = 100 
print(a)
print(b)

In [69]:
import copy 
a = [1, 2, [3, 4]]
b = copy. deepcopy(a)
b[2][0] = 100

print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [100, 4]]

## 2.2  list comprehension

In [72]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
# [1, 8,, 27, ... 1000]
result = []
for number in numbers: 
    result.append(number**3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [77]:
result2 = [number**3 for number in numbers] # for 문으로 돌린 값을 가져와서 연산을 해서 리스트에 넣음 
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [78]:
# 짝수만 고르기(반복문버전)
even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [79]:
# 짝수만 고르기 (comprehension)
even_list = [ i for i in numbers if i % 2 == 0]

print(even_list)

[2, 4, 6, 8, 10]

In [82]:
words = 'my name is minju'
vowels = 'aeiou'

# => my am s mnj

In [98]:
# 1. for 문 버전
words_split = words.split()
print(words_split) # 이렇게 하면 띄어쓰기가 다 사라짐 
# for i in words:
#     if i in vowels:
#         words.pop(words.index(i))
# print(''.join(words))


# 선생님 답변

result = []
for char in words:
    if char not in vowels: 
        result.append(char)
        
print(result)
print(''.join(result))

['my', 'name', 'is', 'minju']
['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'm', 'n', 'j']
my nm s mnj

In [96]:
# 2 . list comprehension
result2 =[char.upper()  for char in words if char not in vowels]
print (result2)
print(''.join(result2))

['M', 'Y', ' ', 'N', 'M', ' ', 'S', ' ', 'M', 'N', 'J']
MY NM S MNJ

## 3. dictionary method 딕셔너리 메소드

In [133]:
info = {
    'name': 'minju',
    'location': 'seoul',
}

In [104]:
info['name']

'minju'

In [107]:
info ['name'] = 'kang'
print(info)

{'name': 'kang', 'location': 'seoul'}

In [134]:
# .pop(key[, default])
print(info.pop('location'), None) # 없으면 None 으로 출력
print(info)

seoul
{'name': 'minju'}

In [113]:
# .update(key=value)
info.update(name = 'minju')
print(info)

{'name': 'minju'}

In [117]:
# .get(key[,default]
print(info.get('name'))
print(info.get('school', '123')) # get 은 없으면 none 으로 출력
# print(info['school']) # 이 경우는 에러가 나옴

minju
123

### 3.1 dict comprehension

In [ ]:
#{1: 3, 2: 8, 3: 27}

In [118]:
# for 
cube_dict = {}
for i in range(1, 4):
    cube_dict[i] = i ** 3
print(cube_dict)

{1: 1, 2: 8, 3: 27}

In [120]:
# comp
cube_dict2 = {i:  i **3 for i in range(1,4)}
print(cube_dict2)

{1: 1, 2: 8, 3: 27}

In [122]:
# 
dust = {
    '서울': 100,
    '대구': 30,
    '대전': 10,
    '부산': 80,
    '광주': 50,
}
# => 
# result = {
# 서울 
# 부산 
# 광주
# }

In [123]:
# 1. for
result = {}
for city in dust.keys():
    if dust[city] >= 50: 
        result[city]= dust[city]
print(result)

# 선생님 

result_t = {}
for k, v in dust.items():
    if v >= 50:
        result[k[ = v

{'서울': 100, '부산': 80, '광주': 50}

In [125]:
# 2. comp
result2 = {k: v for k, v in dust.items() if v>= 50}
print(result2)

{'서울': 100, '부산': 80, '광주': 50}

In [127]:
result2 = {k: '나쁨' for k, v in dust.items() if v>= 50}
print(result2)
# 50 이상인 데이터를 뽑아서 나쁨 이라고 출력

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

# 4. 세트 메소드

In [135]:
fruits = {'apple', 'banana', 'melon'}

In [136]:
# add. (x) 하나를 추가할 때느 add
fruits.add('watermelon')
print(fruits)
fruits.add('watermelon')
print(fruits)#중복이 없기 때문에 두번 추가해도 하나만 있음)

{'banana', 'apple', 'melon', 'watermelon'}
{'banana', 'apple', 'melon', 'watermelon'}

In [140]:
# .update()  여러개를 추가할 때는 upeate
fruits.update('grape') # iterable 한 string 이기 때문에 쪼개서 들어감
print(fruits)
fruits.update({'orange', 'pear'})

{'a', 'watermelon', 'p', 'e', 'banana', 'melon', 'apple', 'g', 'orange', 'pear', 'r'}

In [143]:
# .remove()
fruits.remove('orange')
print(fruits)

KeyError: 'orange'

In [146]:
# .pop  맨 앞 값이 삭제됨     세트는 정렬된 데이터가 아니기 때문에 순서가 다 다르게 출력됨 
fruits.pop() 
print(fruits)

{'e', 'banana', 'melon', 'apple', 'g', 'pear', 'r'}

# 5. map(), zip(), filter()

## 5.1 map()
```
map(function, iterable)
```

In [149]:
a = [1, 2, 3]

number_str = map(str, a)  #  a의 항목을 개별로 str 씌워줌
print(number_str)
print(list(number_str))

<map object at 0x10a923eb0>
['1', '2', '3']

In [151]:
def cube(x):
    return x**3

In [152]:
# for 문을 활용하여 모든 item 에 cube 함수 실행 
result = []
for i in a:
    result.append(cube(i))
print(result)

[1, 8, 27]

In [154]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [156]:
numbers = list(map(int, input().split()))
print(numbers)

 1 2 3  4  5

[1, 2, 3, 4, 5]

## 5.2 zip

In [157]:
a = [1, 2, 3]
b = [100, 200, 300]

In [158]:
result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x10af91dc0>
[(1, 100), (2, 200), (3, 300)]

## 5.3 filter

```python
filter(function, iterable)
```
filter 에 들어가는 function은 T/F를 반환해야 합니다.

In [161]:
def is_odd(x):
    # if x % 2 == 1: 
    #     return True
    # else:
    #     return False
    return bool(x % 2) #  1 => true 0=> False 로 반환

In [164]:
numbers = [1, 2, 3, 4, 5]
result = filter(is_odd, numbers) 
print(result)
print(list(result))

<filter object at 0x10a994c40>
[1, 3, 5]